@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --mantine-color-blue-light-color: #e7f5ff;
  --mantine-color-blue-color: #004076;
}

/* CSS Reset to prevent unwanted scrolling */
* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif !important;
}